spring_soap_basicWebService/src/main/webapp/WEB-INF/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://chandan/qb/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Test">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="WelcomeMessage"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>